.seccionCookie {
    width: 100%;
    height: auto;
    min-height: 95vh;
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
}

.seccionCookie__contenedor {
    width: 100%;
    height: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.seccionCookie__contenedor h1 {
    margin: 0;
    font-family: 'reckless';
    font-size: 45px;
    font-weight: 300;
    padding: 20px 0;
    color: var(--verde);
}

.seccionCookie__indice {
    padding-left: unset;
}

.seccionCookie__contenedor ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.seccionCookie__contenedor ul a,
.seccionCookie__titulo {
    font-family: 'reckless';
    font-size: 20px;
    font-weight: 400;
    color: var(--negro);
    text-decoration: none;
}

.seccionCookie__contenedor p,
.seccionCookie__parrafo,
.seccionCookie__li--navegadores {
    font-size: 18px;
    font-family: 'neutra';
    text-align: justify;
    display: none;
}

.seccionCookie__li.active {
    margin: 25px 0;
}

.seccionCookie__li.active .seccionCookie__titulo,
.seccionCookie__contenedor ul a:hover {
    color: var(--verde);
    text-decoration: underline;
}

.seccionCookie__li.active p,
.seccionCookie__li.active .seccionCookie__li--navegadores {
    display: block;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .seccionCookie {
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .seccionCookie__contenedor p,
    .seccionCookie__parrafo {
        text-align: left;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .seccionCookie__contenedor {
        padding: 160px 0 60px 0;
    }

    .seccionCookie__contenedor h1 {
        font-size: 11vw;
        padding: 20px 0 60px 0;
    }

    .seccionCookie__contenedor ul a,
    .seccionCookie__titulo {
        font-size: 26px;
    }

    .seccionCookie__contenedor p,
    .seccionCookie__parrafo,
    .seccionCookie__li--navegadores {
        font-size: 20px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}