.main {
  width: 100%;
  height: auto;
  /* height: 980vh; */
  position: relative;
  overflow: hidden;
}

.main__contenedorLogoCollection {
  width: 100%;
  height: 100%;
  position: relative;
}

.main__contendorFotoCollection {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main__logocollection {
  /* width: auto;
  height: 225px;
  left: 1.5%;
  bottom: 1623px;
  z-index: 100; */
  /* display: none; */
}

/*------------------------------------
| Sección intro
|-------------------------------------*/
.seccion__intro {
  width: 100%;
  height: 110vh;
  overflow: hidden;
  position: relative;
  background-color: var(--blanco);
}

.intro__contenido__capa {
  position: absolute;
  z-index: 3;
  opacity: 1;
  top: 0;
  left: 0;
  padding: 6em;
  margin-top: -504em;
  margin-left: -504em;
  background: transparent;
  /* Show through the circle */
  border: 500em solid rgb(255, 255, 255);
  /* Make a huge border to hide the rest */
  border-radius: 508em;
  filter: blur(20px);

  -moz-border-radius: 506em;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  transition: opacity .5s ease;
  -webkit-filter: blur(20px);
}

.intro__contenido__logohdden {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 80px;
  z-index: 10;
  /* cursor: pointer; */

  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
}

.intro__contenido__video,
.intro__contenido__imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  object-fit: cover;
  transition: all 2s linear;
}

/* .intro__contenido__imagen {
  height: 95%!important;
} */

.intro__contenido__imagen {
  object-position: right;
}

.intro__contenido__video {
  z-index: 2;
  display: block;
}
/* marquesina web-native-strategy */
.intro__contenido__marquesina {
  left: 0;
  bottom: 0;
  opacity: 1;
  width: 100%;
  z-index: 9;
  padding: 3px 0;
  overflow: hidden;
  position: absolute;
  background-color: var(--verde);
  transition: all 0.1s;
}

.intro__contenido__marquesina--inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 9s linear infinite;
}

.intro__contenido__marquesina p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: var(--negro);
  font-family: 'reckless';
  width: fit-content;
  list-style-type: disc;
  display: inline-block;
  white-space: nowrap;
}
/* end marquesina web-native-strategy */

/*------------------------------------
| Sección 1
|-------------------------------------*/
.seccion1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  padding: 0 15px;
  flex-direction: column;
}

.seccion1__titulo {
  width: 100%;
  /* background-color: antiquewhite; */
}

.seccion1__titulo span {
  font-family: 'reckless';
  font-size: 18vw;
  font-weight: 300;
  line-height: 0.8;
  margin: 0;
  text-indent: 11.16vw;
  display: block;
}

.seccion1__titulo--texto {
  color: var(--verde);
  transform: translateX(-24px);
  position: relative;
  text-indent: 0 !important;
}

.seccion1__parrafo {
  font-family: 'neutra';
  font-size: 20px;
  margin: 28px 0px 0px 0px;
  transform: none;
  width: 100%;
}

.seccion1__imagen {
  position: absolute;
  opacity: 1;
  right: -25px;
  bottom: -30px;
  z-index: 3;
  width: 309px;
  height: 275px;
}

/*------------------------------------
| Sección 2
|-------------------------------------*/
.video_wrap {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(-23.5%);
}

.the_video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.overlay {
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(23%);
  z-index: 2;
}

.seccion2 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  /* background-image: url('../img/collection/bg-collection_2.png'); */
  background-size: cover;
  padding: 60px 15px 15px
}

.seccion2__contenido {
  position: relative;
}

.seccion2__parrafo {
  max-width: none;
  font-size: 20px;
  font-family: 'reckless';
  line-height: unset;
  margin: 0;
  z-index: 2;
  position: relative;
  text-align: justify;
}

.seccion2__parrafo br {
  display: none;
}

.seccion2__img {
  width: 292px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

img.seccion2__img.main__logocollection {
  width: 100px!important;
}

.seccion2__img1 {
  bottom: -270px;
}

.seccion2__img2 {
  bottom: -540px;
}

.seccion2__img3 {
  display: none;
}

.seccion2__img4 {
  display: none;
}

/*------------------------------------
| Sección 3
|-------------------------------------*/

.seccion3__link_active {
  display: 'flex';
}
.seccion3__link_inactive {
  display: 'none';
}

.seccion3 {
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  overflow: hidden;
  background-color: var(--blanco);
  /* padding: 0 150px 150px; */
}

.seccion3__contenido {
  position: relative;
  height: 100%;
  /* height: 600px; */
  max-width: 1400px;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px; */
}

.seccion3__objeto {
  width: 90%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.seccion3__objeto img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  z-index: 9;
}

/* .seccion3__objeto.obj1 img,
.seccion3__img--izq img {
  filter: blur(10px);
} */


.seccion3__objetoLink {
  width: 100%;
  height: 100%;
  color: var(--negro);
  font-size: 20px;
  font-family: 'reckless';
  line-height: 1;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  z-index: 3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 174, 90, 0.75);
}

/* .seccion3__objeto:hover img {
  filter: blur(0px);
} */

.seccion3__objeto:hover a {
  display: flex;
}

.seccion3__img--pos {
  padding-top: 20px;
  width: 100%;
  position: relative;
}

.seccion3__logocollection {
  position: relative;
  bottom: -93px;
  left: 230px;
  width: auto;
  height: 223px;
  display: block;
  z-index: 3;
}

.seccion3__link {
  position: absolute;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--verde);
  border-radius: 50%;
  color: var(--verde);
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 400;
  font-family: 'neutra';
  margin-top: unset;
  /* animation: scrollup__move 0.7s infinite alternate; */
}

/*------------------------------------
| Sección 4
|-------------------------------------*/
.seccion4 {
  width: 100%;
  height: 100vh;
  padding: 150px -98px 60px 100px;
  overflow: hidden;
}

.seccion4__contenido {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 700px 100px 500px;
  grid-template-rows: auto 150px auto;
  place-content: center;
  position: relative;
  /* scrollify */
  margin-top: 150px;
}

/* .seccion4__objeto, */
.seccion4__objeto {
  background-color: rgba(247, 174, 90, 0.85);
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  position: relative;
  z-index: 2;
}

.seccion4__objeto {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: 'reckless';
  color: var(--negro);
  text-align: center;
  text-decoration: none;
  cursor: none;
}

.seccion4__logoCollection {
  height: 250px;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  transform: translate3d(46px, 10px, 0);
  width: 116.19px;
  height: 250px;
  z-index: 0;
  opacity: 0;
}

.seccion4__objetoImg {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  position: relative;
  z-index: 1;
  width: auto;
  height: 250px;
}

/*------------------------------------
| Sección 5
|-------------------------------------*/
.seccion5__link {
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--verde);
  border-radius: 50%;
  color: var(--verde);
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 400;
  font-family: 'neutra';
  margin-top: -80px;
}

.seccion5__link.seccion5__link--lg {
  width: 270px;
  height: 270px;
  font-size: 1.3rem;
}

.seccion5 {
  width: 100%;
  height: 100vh;
  padding: 75px 0;
}

.seccion5__contenido {
  width: 100%;
  /* height: 100vh; */
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px 780px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  place-content: center;
  position: relative;
}

.seccion5__contenido .seccion5__link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: start;
}

.seccion5__logoCollection {
  height: 300px;
  width: auto;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
  transform: translate3d(-55px, -30px, 0);
  position: relative;
  z-index: 2;
  opacity: 0;
}

.seccion5__objetoImg {
  height: 300px;
  width: 450.15px;
}

.seccion5__contenido img:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
}

.seccion5__contenido img:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


/*------------------------------------
| About
|-------------------------------------*/
#aboutSection {
  width: 100%;
  height: auto;
  padding: 120px 0 60px;
  position: relative;
}

.aboutSection_contenido {
  width: 100%;
  max-width: 1320px;
  height: auto;
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: auto;
  row-gap: 50px;
}

.about-titulo {
  margin: 0;
  font-family: 'reckless';
  font-size: 4.5rem;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  line-height: 1;
  font-weight: 300;
  position: relative;
  z-index: 2;
}

.about-texto {
  font-family: 'neutra';
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0;
}

.aboutSection_contenido p:nth-child(2) {
  grid-column: 1 / 3;
}

.aboutSection_contenido p:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.aboutSection_contenido p:nth-child(4) {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
  transform: translateX(-100px);
  position: relative;
  z-index: 2;
}

.aboutSection_contenido p a {
  color: var(--verde);
}

.aboutSection_contenido div {
  grid-column: 2 / 5;
  grid-row: 5 / 6;
}

.aboutSection_contenido div h2 {
  font-size: 2rem;
  font-family: 'reckless';
  font-weight: 300;
  margin: 0 0 24px;
}

.aboutSection_contenido div a {
  display: inline-block;
  font-family: 'reckless';
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--negro);
  font-family: 'neutra';
  transform: translateX(90px);
  padding-left: 50px;
}

.figura-gris {
  background-color: #e9e9e9;
  position: relative;
  z-index: -1;
}

.figura-gris.figura-gris--izq {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  width: 270px;
  height: 160px;
  align-self: end;
}

.figura-gris.figura-gris--der {
  grid-column: 4 / 5;
  grid-row: 1 / 5;
  width: 100%;
  height: 100%;
  max-height: 650px;
  align-self: end;
  transform: translateY(30px);
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .seccion1__titulo--texto {
    transform: translateX(-28px);
  }

  .seccion1__imagen {
    right: -40px;
    bottom: -28px;
    width: 50%;
    height: 326px;
  }
}

/* <576px> -------------------------------------- */

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .seccion1 {
    padding: 0 15px 15px;
  }

  .seccion1__titulo span {
    font-size: 120px;
  }

  .seccion1__parrafo {
    width: 80%;
    font-size: 30px;
  }

  .seccion1__imagen {
    right: -1px;
    bottom: -69px;
    width: 157px;
    height: auto;
  }
}

/* <768px> -------------------------------------- */

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* .main__logocollection img {
    animation: scrollup__move 0.7s infinite alternate;
  } */

  /* img.seccion2__img.main__logocollection {
    width: 292px!important;
  } */

  .intro__contenido__imagen {
    object-position: center;
  }

  /* @seccion1  */
  .seccion1 {
    padding: 0 0;
    flex-direction: row;
  }

  .seccion1__titulo span {
    display: inline-block;
    font-size: 12vw;
    text-indent: 10.16vw;
  }

  .seccion1__parrafo {
    font-size: 1.6vw;
    line-height: 1.2;
    margin: 0;
  }

  .seccion1__imagen {
    right: 0;
    bottom: -30px;
    width: 310px;
    height: 323px;
  }

  /* @seccion 2 */
  .seccion2 {
    align-items: center;
    padding: 0px;
  }

  .seccion2__parrafo {
    max-width: 60vw;
    font-size: 2.45rem;
    text-indent: 0;
    line-height: 1.2;
    /* text-align: left; */
  }

  .seccion2__parrafo br {
    /* display: block; */
  }

  .seccion2__img {
    width: unset;
    left: unset;
    right: unset;
    margin-left: unset;
    margin-right: unset;
  }
  .seccion2__img1 {
    width: 300px;
    top: -87px;
    left: -219px;
  }

  .seccion2__img2 {
    width: 280px;
    right: 282px;
    bottom: -198px;
  }

  .seccion2__img3 {
    width: 290px;
    top: -152px;
    right: -184px;
    display: block;
  }

  .main__logocollection,
  .seccion2__img4 {
    top: 444px;
    left: 73px;
    height: unset;
    z-index: 2;
  }

  /* @seccion3  */
  /* .seccion3 {
    height: 100vh;
    padding: 0 150px 150px;
  } */

  /* .seccion3__contenido {
    flex-direction: row;
    padding-top: unset;
  } */

  .seccion3__objeto {
    width: 500px;
    height: 305px;
    /* bottom: 0;
    left: 0; */
  }

  .seccion3__objeto.obj1 {
    bottom: 100px;
    left: 200px;
  }

  .seccion3__objeto.obj2 {
    top: 80px;
    right: 100px;
  }

  /* .seccion3__img--izq img {
    filter: blur(10x);
  } */

  .seccion3__objetoLink {
    display: none;
    font-size: 28px;
  }

  .seccion3__img--izq {
    margin-top: 250px;
    margin-right: 100px;
    /* margin-right: calc(80% - 760px); */
  }

  .seccion3__img--pos {
    padding-top: unset;
    width: unset;
  }

  .seccion3__link {
    top: 240px;
    left: 0;
    width: 170px;
    height: 170px;
    z-index: 1;
    opacity: 1;
  }

  .seccion3__logocollection {
    display: none;
  }

}

@media (min-width: 1200px) {
  .main__logocollection, .seccion2__img4 {
    top: 460px;
    left: 150px;
  }
}

@media (min-width: 1400px) {
}